In [2]:
import pandas as pd
import numpy as np

In [3]:
FilePath = 'C:/Users/User/Documents/WORK SPACE/'
FileName = 'Churn_Train.csv'

In [4]:
data = pd.read_csv(FilePath + FileName)

In [5]:
data.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,NV,125.0,area_code_510,no,no,0.0,2013.4,99.0,28.66,1107.6,107.0,14.93,243.3,92,10.95,10.9,7.0,2.94,0.0,no
1,HI,108.0,area_code_415,no,no,0.0,291.6,99.0,49.57,221.1,93.0,18.79,229.2,110,10.31,14.0,9.0,3.78,2.0,yes
2,DC,82.0,area_code_415,no,no,0.0,300.3,109.0,51.05,181.0,100.0,15.39,270.1,73,12.15,11.7,4.0,3.16,0.0,yes
3,HI,NaN,area_code_408,no,yes,30.0,110.3,71.0,18.75,182.4,108.0,15.50,183.8,88,8.27,11.0,8.0,2.97,2.0,no
4,OH,83.0,area_code_415,no,no,0.0,337.4,120.0,57.36,227.4,116.0,19.33,153.9,114,6.93,15.8,7.0,4.27,0.0,yes

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          3333 non-null   object
 1   account_length                 2832 non-null   float64
 2   area_code                      3333 non-null   object
 3   international_plan             3333 non-null   object
 4   voice_mail_plan                3333 non-null   object
 5   number_vmail_messages          3133 non-null   float64
 6   total_day_minutes              3133 non-null   float64
 7   total_day_calls                3133 non-null   float64
 8   total_day_charge               3133 non-null   float64
 9   total_eve_minutes              3032 non-null   float64
 10  total_eve_calls                3133 non-null   float64
 11  total_eve_charge               3133 non-null   float64
 12  total_night_minutes            3133 non-null   float64
 13  total_night_calls              3333 non-null   int64
 14  total_night_charge             3133 non-null   float64
 15  total_intl_minutes             3133 non-null   float64
 16  total_intl_calls               3032 non-null   float64
 17  total_intl_charge              3133 non-null   float64
 18  number_customer_service_calls  3133 non-null   float64
 19  churn                          3333 non-null   object
dtypes: float64(14), int64(1), object(5)
memory usage: 520.9+ KB

In [7]:
data.isna().sum()

state                              0
account_length                   501
area_code                          0
international_plan                 0
voice_mail_plan                    0
number_vmail_messages            200
total_day_minutes                200
total_day_calls                  200
total_day_charge                 200
total_eve_minutes                301
total_eve_calls                  200
total_eve_charge                 200
total_night_minutes              200
total_night_calls                  0
total_night_charge               200
total_intl_minutes               200
total_intl_calls                 301
total_intl_charge                200
number_customer_service_calls    200
churn                              0
dtype: int64

In [1]:
#changing categorical data to numerical
#data['churn'] = data['churn'].astype(float)

In [11]:
#Checking if churn column has the correct labels.....and yes it is correct only yes and no
set(data.churn)

{'no', 'yes'}

In [44]:
#Transforming churn data to 0s and 1s
Yesdf = data[data['churn'] =='no']
Yesdf['churn'] = 0
Nodf = data[data['churn'] == 'yes']
Nodf['churn'] = 1
newdata = pd.concat([Yesdf, Nodf])

C:\Users\User\AppData\Local\Temp/ipykernel_7116/1781768966.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Yesdf['churn'] = 0
C:\Users\User\AppData\Local\Temp/ipykernel_7116/1781768966.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Nodf['churn'] = 1

In [45]:
newdata

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,NV,125.0,area_code_510,no,no,0.0,2013.4,99.0,28.66,1107.6,107.0,14.93,243.3,92,10.95,10.9,7.0,2.94,0.0,0
3,HI,NaN,area_code_408,no,yes,30.0,110.3,71.0,18.75,182.4,108.0,15.50,183.8,88,8.27,11.0,8.0,2.97,2.0,0
5,MO,89.0,area_code_415,no,no,0.0,178.7,81.0,30.38,NaN,74.0,19.86,131.9,120,5.94,9.1,4.0,2.46,1.0,0
6,NC,135.0,area_code_415,no,no,0.0,201.8,81.0,34.31,225.0,114.0,19.13,204.4,82,9.20,10.3,6.0,2.78,1.0,0
7,PA,28.0,area_code_415,no,no,0.0,168.2,87.0,28.59,161.7,92.0,13.74,192.4,112,8.66,10.1,3.0,2.73,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3285,ID,193.0,area_code_415,no,no,0.0,96.8,92.0,16.46,142.6,103.0,12.12,210.1,115,9.45,10.9,5.0,2.94,2.0,1
3303,MN,152.0,area_code_415,no,no,0.0,317.8,60.0,54.03,NaN,100.0,13.00,123.4,63,5.55,10.4,7.0,2.81,1.0,1
3307,MI,116.0,area_code_408,no,no,0.0,133.3,94.0,22.66,247.8,126.0,21.06,219.0,78,9.86,11.3,5.0,3.05,5.0,1
3312,WY,134.0,area_code_510,no,no,0.0,296.0,93.0,50.32,226.4,117.0,19.24,246.8,98,11.11,12.3,10.0,3.32,0.0,1
3320,SC,101.0,area_code_415,no,no,0.0,158.4,92.0,26.93,188.0,117.0,15.98,219.7,125,9.89,13.5,4.0,3.65,4.0,1

In [46]:
#Transforming international plan to 0s and 1s
data1 = newdata[newdata['international_plan'] == 'no']
data1['international_plan'] = 0
data2 = newdata[newdata['international_plan'] == 'yes']
data2['international_plan'] = 1
data3 = pd.concat([data1, data2])

C:\Users\User\AppData\Local\Temp/ipykernel_7116/3843205252.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['international_plan'] = 0
C:\Users\User\AppData\Local\Temp/ipykernel_7116/3843205252.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['international_plan'] = 1

In [47]:
data3

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,NV,125.0,area_code_510,0,no,0.0,2013.4,99.0,28.66,1107.6,107.0,14.93,243.3,92,10.95,10.9,7.0,2.94,0.0,0
3,HI,NaN,area_code_408,0,yes,30.0,110.3,71.0,18.75,182.4,108.0,15.50,183.8,88,8.27,11.0,8.0,2.97,2.0,0
5,MO,89.0,area_code_415,0,no,0.0,178.7,81.0,30.38,NaN,74.0,19.86,131.9,120,5.94,9.1,4.0,2.46,1.0,0
6,NC,135.0,area_code_415,0,no,0.0,201.8,81.0,34.31,225.0,114.0,19.13,204.4,82,9.20,10.3,6.0,2.78,1.0,0
7,PA,28.0,area_code_415,0,no,0.0,168.2,87.0,28.59,161.7,92.0,13.74,192.4,112,8.66,10.1,3.0,2.73,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3204,AZ,109.0,area_code_415,1,no,0.0,1977.6,85.0,45.63,1082.6,131.0,12.80,297.9,84,13.41,9.7,8.0,2.62,2.0,1
3221,CA,138.0,area_code_510,1,no,0.0,196.2,129.0,33.35,176.5,86.0,15.00,232.4,108,10.46,15.2,1.0,4.10,0.0,1
3223,RI,NaN,area_code_510,1,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,NaN,NaN,NaN,NaN,NaN,1
3236,MS,65.0,area_code_415,1,no,0.0,2070.3,123.0,47.24,1087.8,112.0,13.24,256.9,71,11.56,9.2,10.0,2.48,0.0,1
3275,KY,NaN,area_code_510,1,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143,NaN,NaN,NaN,NaN,NaN,1

In [42]:
data4 = data3[data3['voice_mail_plan'] == 'no']
data4['voice_mail_plan'] = 0
data5 = data3[data3['voice_mail_plan'] == 'yes']
data5['voice_mail_plan'] = 1
data6 = pd.concat([data4, data5])

C:\Users\User\AppData\Local\Temp/ipykernel_7116/2877812292.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['voice_mail_plan'] = 0
C:\Users\User\AppData\Local\Temp/ipykernel_7116/2877812292.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data5['voice_mail_plan'] = 1

In [48]:
data6

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
11,MI,NaN,area_code_415,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110,NaN,NaN,NaN,NaN,NaN,1
46,NC,80.0,area_code_415,1,0,0.0,189.1,122.0,32.15,223.2,92.0,18.97,269.0,116,12.11,13.9,3.0,3.75,2.0,1
65,WV,115.0,area_code_510,1,0,0.0,249.9,95.0,42.48,242.5,104.0,20.61,151.7,121,6.83,15.3,6.0,4.13,1.0,1
102,OK,154.0,area_code_415,1,0,0.0,145.9,69.0,24.80,208.2,141.0,17.70,180.9,106,8.14,14.4,10.0,3.89,0.0,1
121,CT,120.0,area_code_408,1,0,0.0,2070.2,123.0,34.34,1116.3,78.0,15.67,176.0,89,7.92,7.4,2.0,2.00,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3321,TN,130.0,area_code_415,0,1,12.0,141.9,92.0,24.12,228.9,102.0,19.46,195.1,101,8.78,8.7,5.0,2.35,0.0,0
3324,IL,148.0,area_code_408,0,1,25.0,1998.2,102.0,39.22,1165.8,109.0,19.87,215.8,90,9.71,13.5,2.0,3.65,3.0,0
3326,KY,151.0,area_code_408,0,1,17.0,214.7,97.0,36.50,138.5,90.0,11.77,169.1,44,7.61,8.6,4.0,2.32,1.0,0
3328,OH,144.0,area_code_415,0,1,18.0,106.4,109.0,18.09,108.1,113.0,9.19,208.4,111,9.38,10.1,5.0,2.73,1.0,0
3329,LA,69.0,area_code_415,0,1,37.0,155.0,98.0,26.35,NaN,105.0,12.10,143.7,117,6.47,5.9,4.0,1.59,1.0,0

In [49]:
set(data6.churn)

{0, 1}

In [50]:
set(data6.voice_mail_plan)

{0, 1}

In [51]:
set(data6.international_plan)

{0, 1}

In [52]:
data6.isna().sum()

state                              0
account_length                   501
area_code                          0
international_plan                 0
voice_mail_plan                    0
number_vmail_messages            200
total_day_minutes                200
total_day_calls                  200
total_day_charge                 200
total_eve_minutes                301
total_eve_calls                  200
total_eve_charge                 200
total_night_minutes              200
total_night_calls                  0
total_night_charge               200
total_intl_minutes               200
total_intl_calls                 301
total_intl_charge                200
number_customer_service_calls    200
churn                              0
dtype: int64